<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lessons</title>
  <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>

  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
  <div id="app">
    <header>
      <h1 v-text="sitename"></h1>

      <button v-on:click="showCheckout" :disabled="cart.length === 0">
        Cart ({{ itemsInCart }})
      </button>

      <!-- toggles sorting options -->
      <button v-on:click="toggleSort">Sort</button>

      <!-- Select sort -->
      <div v-if="showSortOptions" class="sort-options">
        <button v-on:click="selectSortCategory('subject')">subject</button>
        <button v-on:click="selectSortCategory('location')">location</button>
        <button v-on:click="selectSortCategory('price')">price</button>
        <button v-on:click="selectSortCategory('availableItems')">spaces</button>

        <!-- Ascending/Descending buttons -->
        <div v-if="selectedSort">
          <div v-if="selectedSort === 'subject'">
            <button v-on:click="sortBySubject('asc')">Asc</button>
            <button v-on:click="sortBySubject('desc')">Desc</button>
          </div>

          <div v-if="selectedSort === 'location'">
            <button v-on:click="sortByLocation('asc')">Asc</button>
            <button v-on:click="sortByLocation('desc')">Desc</button>
          </div>

          <div v-if="selectedSort === 'price'">
            <button v-on:click="sortByPrice('asc')">Asc</button>
            <button v-on:click="sortByPrice('desc')">Desc</button>
          </div>

          <div v-if="selectedSort === 'availableItems'">
            <button v-on:click="sortBySpaces('asc')">Asc</button>
            <button v-on:click="sortBySpaces('desc')">Desc</button>
          </div>
        </div>
      </div>
    </header>

     <!-- Search -->
    <p>
      <input type="text" v-model="searchQuery" placeholder="Search lessons..." />
      <button v-on:click="performSearch"> Search </button>
    </p>

    <!-- Product List -->
    <main v-if="showProduct" class="lessons-container">
      <h2>Available Lessons:</h2>

      <div class="lesson-grid">
        <figure v-for="product in products" :key="product.id" class="lesson-box">
          <p>
            <b>Subject:</b> {{ product.subject }}
            <i :class="product.icon" class="lesson-icon"></i>
          </p>
          <p><b>Location:</b> {{ product.location }}</p>
          <p><b>Price:</b> £{{ product.price }}</p>
          <p><b>Spaces:</b> {{ product.availableItems }}</p>

          <button v-if="product.availableItems > 0" v-on:click="addItemToTheCart(product)">
            Add to cart
          </button>

          <button v-if="product.availableItems < product.maxItems" v-on:click="removeItemFromCart(product)">
            Remove
          </button>

          <!-- Disabled button if no spaces left -->
          <div v-if="product.availableItems === 0">
            <button disabled>Add to Cart</button>
            No more available items.
          </div>
        </figure>
      </div>
    </main>

    <!-- Checkout Page -->
    <main v-else class="checkout-section">
      <h2>Checkout</h2>

      <!-- Cart Items Display -->
      <div v-if="cart.length > 0" class="cart-container">
        <div v-for="product in checkoutItems" :key="product.id" class="checkout-item">
          <p>Subject: {{ product.subject }}</p>
          <p>Location: {{ product.location }}</p>
          <p>Price: £{{ product.price }}</p>
          <p>Quantity: {{ product.quantity }}</p>
          <button v-on:click="removeItemFromCart(product)">Remove</button>
        </div>
      </div>

      <div v-else>
        <p>Your cart is empty.</p>
      </div>

       <!-- return to lessons page -->
      <button v-on:click="showProduct = true">Back to Lessons</button>

      <!-- Users Information for checkout -->
      <h2>Information</h2>
      <p>
        First name: <input type="text" id="FirstnameInput" /><br />
        Phone number: <input type="text" id="phoneInput" /><br />
        Email: <input type="email" id="EmailInput" /><br />
        <button v-on:click="storeUser" :disabled="cart.length === 0">
          Checkout
        </button>
      </p>

      <p id="Result"></p>
    </main>
  </div>

  <script src="index.js"></script>
</body>
</html>